<div>
    <h2>Buscando conductores</h2>
    <ul>
        <li>Origen: {{pedido.origen.calle}}, {{pedido.origen.numero}}, {{pedido.origen.localidad}}, {{pedido.origen.codigoPostal}} </li>
        <li>Destino: {{pedido.destino.calle}}, {{pedido.destino.numero}}, {{pedido.destino.localidad}}, {{pedido.destino.codigoPostal}} </li>
        <li>Nivel de confort: {{pedido.confort}} </li>
        <li>Distancia: {{pedido.distancia}} km</li>
        <li>Tiempo Estimado: {{pedido.tiempo}} minutos</li>
    </ul>
    <button class="cancelar" (click)="cancelarPedido()">Cancelar Pedido</button>
</div>

<div *ngIf="conductorEncontrado">
  <h2>Conductor disponible</h2>
  <ul>
    <li>Conductor: {{ viaje.turno.conductor.nombre }}</li>
    <li>Distancia al conductor: {{ viaje.distanciaCliente }} km</li>
    <li>Tiempo total: {{ viaje.tiempoTotal }} minutos</li>
    <li>Precio: {{ viaje.precio }}€</li>
  </ul>
  <button class="aceptar" (click)="aceptarPedido()">Aceptar Pedido</button>
  <button class="cancelar" (click)="cancelarPedido()">Cancelar Pedido</button>
</div>