<h2>Registrar Taxi</h2>

<form (ngSubmit)="onSubmit()">
    <div>
        <label>Matricula:</label>
        <input type="text" name="matricula" [(ngModel)]="taxi.matricula">
    </div>
    <div>
        <label>Ano de compra:</label>
        <input type="number" name="anoCompra" [(ngModel)]="taxi.anoCompra">
    </div>
    <div>
        <label>Marca:</label>
        <select name="marca" [(ngModel)]="taxi.marca">
            <option *ngFor="let marca of lista_marcas" [value]="marca">{{marca}}</option>
        </select>
    </div>
    <div>
        <label>Modelo:</label>
        <select name="modelo" [(ngModel)]="taxi.modelo" >
            <option *ngFor="let modelo of modelos_por_marca" [value]="modelo">{{modelo}}</option>
        </select>
    </div>
    <div>
        <label>Nivel de confort:</label>
        <select name="nivelConfort" [(ngModel)]="taxi.nivelConfort">
            <option value="basico">Basico</option>
            <option value="lujoso">Lujoso</option>
        </select>
    </div>
    <button type="submit">Registrar</button>
</form>

<h2>Taxis Registrados</h2>
<ul>
    <li *ngFor="let taxi of taxis">
        {{taxi.matricula}}  {{taxi.marca}}  {{taxi.modelo}}  {{taxi.anoCompra}}  {{taxi.nivelConfort}}
    </li>
</ul>

