<div class="dashboard-container">
    <h1>Panel del Conductor</h1>
    <div class="card-grid">
      <div class="card">
        <h2>Pedido de Taxi</h2>
        <p>Solicita un taxi para iniciar tu turno de trabajo</p>
        <button routerLink="/turno/{{nif}}">Ir a pedir taxi</button>
      </div>
      <div class="card">
        <h2>Aceptar Pedidos</h2>
        <p>Consulta y acepta solicitudes de clientes</p>
        <button routerLink="/aceptar-pedidos/{{nif}}">Ir a Pedidos</button>
      </div>
      <div class="card">
        <h2>Ver mis Viajes</h2>
        <p>Consulta y gestiona tus viajes</p>
        <button routerLink="/ver-viajes/{{nif}}">Ir a Viajes</button>
      </div>
    </div>
  </div>
  