<div class="dashboard-container">
    <h1>Panel de Control</h1>
    <div class="card-grid">
      <div class="card">
        <h2>Gestión de Taxis</h2>
        <p>Registra y lista tus taxis</p>
        <button routerLink="/taxi">Ir a Taxis</button>
      </div>
      <div class="card">
        <h2>Gestión de Conductores</h2>
        <p>Registra y lista tus conductores</p>
        <button routerLink="/conductor">Ir a Conductores</button>
      </div>
      <div class="card">
        <h2>Configuración de Precios</h2>
        <p>Define tarifas y simula costes</p>
        <button routerLink="/precio">Ir a Precios</button>
      </div>
    </div>
  </div>
  